body, a {
    background: #373a3c;
    color: white;
}

table {
    border: 1px solid silver;
    width: 100%;
}

table td {
    border-bottom: 1px solid silver
}

table#games tr:nth-child(2n) td {
    background: #403a3a;
}

table#games tr:hover td {
    background: silver;
}

td.status span {
    padding: 6px;
    text-align: center;
    border-radius: 9px;
    display: block;
    opacity: 0.88;
}

span.tag {
    padding: 2px 4px;
    border-radius: 9px;
    text-align: center;
    margin: 2px;
    display: inline-block;
}

th {
    background: #737373;
}

.pico-content {
    background: #333!important;
    overflow-y: auto;
}

/**
    List.js sorting icons
 */
.sort {
    cursor: pointer;
    background: #737373;
    color: white;
    border: none;
    font-size: 16px;
}

/* drawing a triangle with css */
.sort:after {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    position: relative;
    top: -10px;
    right: -5px;
}

.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
    position: relative;
    top: 4px;
    right: -5px;
}

.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content: "";
    position: relative;
    top: -4px;
    right: -5px;
}